@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  /* Variables */
  :root {
    --background-body: #201F1F;
    --background-section: #2C2B2B;
    --color-white: #FFFFFf;
    --Color-brand: #353BAB;
    --Color-border: #302F2F;
    --Color-body: #8F8F8F;
    --Color-border-gradient: background: rgb(102, 102, 102);
    background: linear-gradient(294deg, rgba(102, 102, 102, 0) 35%, rgba(102, 102, 102, 1) 100%);
    --color-bg-hover: #3A3A3B;
    --color-dark-light: #292727;
    --paddingBlock-section: 64px;
  }
}